# **Imports**

In [1]:
import requests
import numpy as np
import pandas as pd

## **Coletando os dados brutos**

In [2]:
URL = 'https://www.fundsexplorer.com.br/ranking'
resposta = requests.get(URL)

if resposta.status_code == 200:
  dados = pd.read_html(resposta.content, encoding = 'utf-8')[0]

dados.sort_values('Códigodo fundo', inplace = True)

> **Renomeando as colunas**

In [ ]:
dados.columns = [
        'FII', 'Setor', 'Preco_atual', 'Liquidez_diaria',
       'Dividendo', 'Dividend_yield', 'DY_3m_acumulado', 'DY_6m_acumulado',
       'DY_12m_acumulado', 'DY_3m', 'DY_6m', 'DY_12m',
       'DY_ano', 'Variacao_preco', 'Rentab_periodo', 'Rentab_acumulada',
       'Patrimonio_liquido', 'VPA', 'P_VPA', 'DY_patrimonial',
       'Variacao_patrimonial', 'Rentab_patr_no_periodo',
       'Rentab_patr_acumulada', 'Vacancia_fisica', 'Vacancia_financeira',
       'Qtd_ativos'
]
dados

,FII,Setor,Preco_atual,Liquidez_diaria,Dividendo,Dividend_yield,DY_3m_acumulado,DY_6m_acumulado,DY_12m_acumulado,DY_3m,...,Patrimonio_liquido,VPA,P_VPA,DY_patrimonial,Variacao_patrimonial,Rentab_patr_no_periodo,Rentab_patr_acumulada,Vacancia_fisica,Vacancia_financeira,Qtd_ativos
49,ABCP11,Shoppings,"R$ 72,41",435.0,"R$ 0,65","0,88%","2,14%","4,92%","8,77%","0,71%",...,"R$ 1.120.646.877,33","R$ 91,83",79.0,"0,71%","-0,07%","0,64%","2,71%","7,50%",NaN,1
150,AFHI11,Títulos e Val. Mob.,"R$ 101,35",15328.0,"R$ 1,35","1,36%","3,94%","7,77%","13,66%","1,31%",...,"R$ 173.824.946,40","R$ 97,24",104.0,"1,39%","0,44%","1,83%","3,20%",NaN,NaN,0
167,AFOF11,Títulos e Val. Mob.,"R$ 87,27",4967.0,"R$ 1,14","1,28%","3,41%","6,48%","0,00%","1,14%",...,"R$ 70.721.355,90","R$ 102,32",85.0,"0,98%","1,26%","2,25%","5,57%",NaN,NaN,0
34,AIEC11,Lajes Corporativas,"R$ 79,44",2566.0,"R$ 0,72","0,90%","3,35%","5,84%","10,22%","1,12%",...,"R$ 488.502.376,91","R$ 101,24",78.0,"0,71%","0,02%","0,74%","2,64%","0,00%",NaN,2
3,ALMI11,Lajes Corporativas,"R$ 930,00",46.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 249.632.973,43","R$ 2.245,37",41.0,NaN,NaN,NaN,NaN,"64,05%",NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,XPML11,Shoppings,"R$ 96,57",20744.0,"R$ 0,68","0,70%","2,06%","4,19%","7,31%","0,69%",...,"R$ 1.892.808.419,44","R$ 101,32",95.0,"0,67%","0,01%","0,68%","1,93%","3,90%",NaN,16
254,XPPR11,Outros,"R$ 53,40",10717.0,"R$ 0,45","0,77%","2,33%","4,78%","9,52%","0,78%",...,"R$ 574.241.070,77","R$ 78,49",68.0,"0,57%","-0,08%","0,49%","-1,93%","46,00%","0,00%",4
266,XPSF11,Outros,"R$ 7,11",124998.0,"R$ 0,68","0,93%","2,80%","5,45%","10,43%","0,93%",...,"R$ 378.789.954,58","R$ 87,48",8.0,"0,78%","1,16%","1,95%","2,34%",NaN,NaN,0
2,XTED11,Lajes Corporativas,"R$ 6,19",78.0,"R$ 0,00","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 27.305.951,24","R$ 13,89",45.0,NaN,NaN,NaN,NaN,"0,00%","100,00%",1
96,YUFI11B,Residencial,NaN,NaN,"R$ 0,79","0,00%","0,00%","0,00%","0,00%","0,00%",...,"R$ 41.223.411,17","R$ 104,32",NaN,"0,76%","-0,18%","0,57%","2,43%",NaN,NaN,0

In [ ]:
colunas_interesse = [
  'FII',
  'Setor',
  'Preco_atual',
  'Liquidez_diaria',
  'DY_12m',
  'P_VPA',
  'Vacancia_financeira',
  'Qtd_ativos'
]                    

dados = dados[colunas_interesse]

# **Limpeza dos dados**

> **Dados nulos**

In [ ]:
dados.isnull().sum()

FII                      0
Setor                    4
Preco_atual              8
Liquidez_diaria          8
DY_12m                   6
P_VPA                    8
Vacancia_financeira    252
Qtd_ativos               0
dtype: int64

> **Eliminando setores nulos**

In [ ]:
indices_setor_nulo = dados[dados['Setor'].isna()].index
dados.drop(indices_setor_nulo, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
dados

,FII,Setor,Preco_atual,Liquidez_diaria,DY_12m,P_VPA,Vacancia_financeira,Qtd_ativos
49,ABCP11,Shoppings,"R$ 72,41",435.0,"0,73%",79.0,NaN,1
150,AFHI11,Títulos e Val. Mob.,"R$ 101,35",15328.0,"1,14%",104.0,NaN,0
167,AFOF11,Títulos e Val. Mob.,"R$ 87,27",4967.0,"0,00%",85.0,NaN,0
34,AIEC11,Lajes Corporativas,"R$ 79,44",2566.0,"0,85%",78.0,NaN,2
3,ALMI11,Lajes Corporativas,"R$ 930,00",46.0,"0,00%",41.0,NaN,1
...,...,...,...,...,...,...,...,...
122,XPML11,Shoppings,"R$ 96,57",20744.0,"0,61%",95.0,NaN,16
254,XPPR11,Outros,"R$ 53,40",10717.0,"0,79%",68.0,"0,00%",4
266,XPSF11,Outros,"R$ 7,11",124998.0,"0,87%",8.0,NaN,0
2,XTED11,Lajes Corporativas,"R$ 6,19",78.0,"0,00%",45.0,"100,00%",1
96,YUFI11B,Residencial,NaN,NaN,"0,00%",NaN,NaN,0

In [ ]:
colunas_floats = list(dados.iloc[:,2:-1])
dados[colunas_floats] = dados[colunas_floats].fillna(value = 0)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

> **Transformações**

In [ ]:
dados[colunas_floats] = dados[colunas_floats].applymap(lambda x: str(x).replace('R$ ', '').replace('.0','').replace('%','').replace('.','').replace(',','.'))
dados[colunas_floats] = dados[colunas_floats].astype('float')

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278 entries, 49 to 96
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   FII                  278 non-null    object
 1   Setor                278 non-null    object
 2   Preco_atual          278 non-null    float64
 3   Liquidez_diaria      278 non-null    float64
 4   DY_12m               278 non-null    float64
 5   P_VPA                278 non-null    float64
 6   Vacancia_financeira  278 non-null    float64
 7   Qtd_ativos           278 non-null    int64
dtypes: float64(5), int64(1), object(2)
memory usage: 19.5+ KB

In [ ]:
dados.describe().T

,count,mean,std,min,25%,50%,75%,max
Preco_atual,278.0,233.670827,1560.925132,0.0,63.2300,87.385,100.6375,24799.99
Liquidez_diaria,278.0,13940.838129,49225.351222,0.0,266.0000,2279.500,11218.0000,644407.00
DY_12m,278.0,0.605468,0.413142,0.0,0.0325,0.680,0.8875,1.53
P_VPA,278.0,84.003597,49.693610,-59.0,72.0000,86.500,99.0000,773.00
Vacancia_financeira,278.0,1.203993,7.555568,0.0,0.0000,0.000,0.0000,100.00
Qtd_ativos,278.0,3.136691,7.733094,0.0,0.0000,0.000,3.0000,72.00

# **Médias por Setor**

In [ ]:
dados['P_VPA'] = dados['P_VPA']/100

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
metricas_setor = dados.groupby('Setor').agg(['mean', 'std'])
metricas_setor

                    Preco_atual              Liquidez_diaria                \
                           mean          std            mean           std
Setor
Hospital             136.786667   120.482806      914.333333    984.468046
Hotel                 84.343333    18.044540     3552.666667   1281.645947
Híbrido              236.043125  1087.392008    17577.479167  62563.188296
Lajes Corporativas   772.356098  3860.797751     3621.170732   5985.885469
Logística            109.551364    55.157413     8650.909091   9523.428334
Outros               151.728378   285.100452    13334.000000  24384.130534
Residencial           42.132000    42.718592     1723.200000   2277.237059
Shoppings            244.056364   478.480904     4127.181818   7181.096021
Títulos e Val. Mob.   81.367283    43.898301    22589.750000  69882.861989

                       DY_12m               P_VPA            \
                         mean       std      mean       std
Setor
Hospital             0.713333  0.124231  0.863333  0.143643
Hotel                0.570000  0.243311  0.813333  0.272274
Híbrido              0.542500  0.408430  0.784583  0.330460
Lajes Corporativas   0.549512  0.377339  0.703902  0.242764
Logística            0.652727  0.230324  0.844545  0.144345
Outros               0.718649  0.416928  0.774595  0.278883
Residencial          0.139000  0.295765  0.727000  0.674669
Shoppings            0.438182  0.245078  0.700909  0.214807
Títulos e Val. Mob.  0.694783  0.466088  1.000543  0.729500

                    Vacancia_financeira            Qtd_ativos
                                   mean        std       mean        std
Setor
Hospital                       0.000000   0.000000   1.000000   0.000000
Hotel                          0.000000   0.000000   9.333333  12.096832
Híbrido                        1.173333   4.454107   3.687500   6.088553
Lajes Corporativas             6.088049  18.350044   4.097561  10.270844
Logística                      0.440909   1.437809   7.409091   5.586200
Outros                         0.515676   2.181534   6.027027  14.078128
Residencial                    0.000000   0.000000   0.600000   1.349897
Shoppings                      0.000000   0.000000   4.454545   5.369466
Títulos e Val. Mob.            0.000000   0.000000   0.065217   0.625543

In [ ]:
metricas_setor.loc['Logística', 'DY_12m']

mean    0.652727
std     0.230324
Name: Logística, dtype: float64

# **Filtro de FII**

In [ ]:
def filtrar_FII_tijolo(base_dados, setor, label_setor='Setor'):

  metricas_setor = dados.groupby('Setor').agg(['mean', 'std'])

  df_setor = base_dados[base_dados[label_setor].isin([setor])]

  #filter_ = \
  #       (dados_setor['P_VPA'] <= 1) &\
  #        (dados_setor['DY_12m'] <= metricas_setor.loc[setor, ('DY_12m','mean')])
  
  if setor == 'Títulos e Val. Mob.':
    filtro_ = \
            (df_setor['P_VPA'] < 1.10) &\
            (df_setor['P_VPA'] > .80) &\
            (df_setor['DY_12m'] > metricas_setor.loc[setor, ('DY_12m','mean')]) &\
            (df_setor['Vacancia_financeira'] <= metricas_setor.loc[setor, ('Vacancia_financeira','mean')]) &\
            (df_setor['Liquidez_diaria'] >= metricas_setor.loc[setor, ('Liquidez_diaria','mean')])       
 
  else:
    filtro_ = \
            (df_setor['Qtd_ativos'] > 10) &\
            (df_setor['P_VPA'] < 1.10) &\
            (df_setor['P_VPA'] > .80) &\
            (df_setor['DY_12m'] > metricas_setor.loc[setor, ('DY_12m','mean')]) &\
            (df_setor['Vacancia_financeira'] <= metricas_setor.loc[setor, ('Vacancia_financeira','mean')]) &\
            (df_setor['Liquidez_diaria'] >= metricas_setor.loc[setor, ('Liquidez_diaria','mean')])       

  return df_setor[filtro_]


**Estratégia** (com base em um setor escolhido)


> Filtros de tijolo/híbridos:

*   **Quantidade de ativos** > 10

*   **P/VPA** entre 0.8 e 1.1

*   **Dividend Yield (DY)** > DY do **Setor**

*   **Vacância financeira** $\leq$ Vacância financeira

*   **Liquidez diária $\geq$ Liquidez diária do **Setor**


&nbsp;

>    Filtros de papel:

*   **P/VPA** entre 0.8 e 1.1

*   **Dividend Yield (DY)** > DY do **Setor**

*   **Vacância financeira** $\leq$ Vacância financeira

*   **Liquidez diária $\geq$ Liquidez diária do **Setor**

In [ ]:
dados['Setor'].unique()
dados['Setor'] = dados['Setor'].replace({'Títulos e Val. Mob.': 'Títulos e Valores Mobiliários'})
dados

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,FII,Setor,Preco_atual,Liquidez_diaria,DY_12m,P_VPA,Vacancia_financeira,Qtd_ativos
49,ABCP11,Shoppings,72.41,435.0,0.73,0.79,0.0,1
150,AFHI11,Títulos e Valores Mobiliários,101.35,15328.0,1.14,1.04,0.0,0
167,AFOF11,Títulos e Valores Mobiliários,87.27,4967.0,0.00,0.85,0.0,0
34,AIEC11,Lajes Corporativas,79.44,2566.0,0.85,0.78,0.0,2
3,ALMI11,Lajes Corporativas,930.00,46.0,0.00,0.41,0.0,1
...,...,...,...,...,...,...,...,...
122,XPML11,Shoppings,96.57,20744.0,0.61,0.95,0.0,16
254,XPPR11,Outros,53.40,10717.0,0.79,0.68,0.0,4
266,XPSF11,Outros,7.11,124998.0,0.87,0.08,0.0,0
2,XTED11,Lajes Corporativas,6.19,78.0,0.00,0.45,100.0,1
96,YUFI11B,Residencial,0.00,0.0,0.00,0.00,0.0,0

# **FILTRO DE FIIs**

> Base: **setor** ('Shoppings', 'Títulos e Val. Mob.', 'Lajes Corporativas',
       'Logística', 'Híbrido', 'Outros', 'Hospital', 'Residencial',
       'Hotel')

 Critérios:


*   0.8 $\leq$ **P/VPA** $\leq$ 1.1
*   **Quantidade de ativos** (fundos de tijolo) > 10 ativos
*   **Dividend Yield** (média 12 meses) > Média do setor
*   **Vacância Financeira** $\leq$ Média do setor
*   **Liquidez Diária** > Média do setor

In [ ]:
filtro_logistica = filtrar_FII_tijolo(dados, setor='Lajes Corporativas')
filtro_logistica

,FII,Setor,Preco_atual,Liquidez_diaria,DY_12m,P_VPA,Vacancia_financeira,Qtd_ativos
70,BBPO11,Lajes Corporativas,82.0,17804.0,0.94,0.86,0.0,64

In [ ]:
dados['Setor'].unique()

array(['Shoppings', 'Títulos e Valores Mobiliários', 'Lajes Corporativas',
       'Logística', 'Híbrido', 'Outros', 'Hospital', 'Residencial',
       'Hotel'], dtype=object)